<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is the first html page</h1>
        <h2>Which function did we use for returning html page as respone?</h2>
        <h3>We used render_template function</h3>
        <h3>Which is used to render html page</h3>
        <h3>We have to give two arguments</h3>
        <h3>First is request</h3>
        <h3>Second is html page name</h3>
        <h3>We have to create a folder named templates</h3>
        <h3>And we have to keep our html page inside that templates folder</h3>
        <h3>Then only django will identify our html page</h3>
        <h3>Then only we can see our html page in browser</h3>
        <h3>Thank you</h3>
    </center>
</body>
</html>